<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang = "en">
	<!-- BEGIN head -->
	<head>
		<title>Bundy | Forums</title>

		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />

		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%7CRoboto:400,500,700%7CLato:400,500,700&amp;subset=latin,latin-ext" />
		<link type="text/css" rel="stylesheet" href="css/reset.min.css" />
		<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" href="css/otgrid.min.css" />
			<link type="text/css" rel="stylesheet" href="css/bbpress.css" />
		<link type="text/css" rel="stylesheet" href="css/main-stylesheet.min.css" />
		<link type="text/css" rel="stylesheet" href="css/ot-lightbox.min.css" />
		<link type="text/css" rel="stylesheet" href="css/shortcodes.min.css" />
		<link type="text/css" rel="stylesheet" href="css/custom-styles.min.css" />
		<link type="text/css" rel="stylesheet" href="css/responsive.min.css" />

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!--[if lte IE 8]>
		<link type="text/css" rel="stylesheet" href="css/ie-ancient.min.css" />
		<![endif]-->

		<!-- Demo Only -->
		

	<!-- END head -->
	</head>

	<!-- BEGIN body -->
	<body class="ot-menu-will-follow">

		<div class="hentry">
			<span class="entry-title" style="display: none;">Home</span>
			<span class="vcard" style="display: none;">
				<span class="fn"><a href="" title="Posts by Orange Themes" rel="author">Orange Themes</a></span>
			</span>
			<span class="updated" style="display:none;">2016-04-18T08:17:28+00:00</span>
		</div>

		<!-- BEGIN #boxed -->
		<div id="boxed">

			<!-- <div class="header-post-module">
				<div class="item">
					<span class="item-categories">
						<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
						<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
					</span>
					<a href="post.html">
						<span class="item-header">
							<img src="images/photos/image-1.jpg" alt="" />
						</span>
						<span class="item-content">
							<strong>Michael Bay Reveals Hound Redesign For 'Transformers: The Last Knight'</strong>
							<span class="item-meta">
								<span><i class="material-icons">share</i> 391 shares</span>
								<span><i class="material-icons">chat_bubble_outline</i> 12 comments</span>
							</span>
						</span>
					</a>
				</div>
				<div class="item">
					<span class="item-categories">
						<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
					</span>
					<a href="post.html">
						<span class="item-header">
							<img src="images/photos/image-2.jpg" alt="" />
						</span>
						<span class="item-content">
							<strong>Michael Bay Reveals Hound Redesign For 'Transformers: The Last Knight'</strong>
							<span class="item-meta">
								<span><i class="material-icons">share</i> 391 shares</span>
								<span><i class="material-icons">chat_bubble_outline</i> 12 comments</span>
							</span>
						</span>
					</a>
				</div>
				<div class="item">
					<span class="item-categories">
						<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
					</span>
					<a href="post.html">
						<span class="item-header">
							<img src="images/photos/image-3.jpg" alt="" />
						</span>
						<span class="item-content">
							<strong>Michael Bay Reveals Hound Redesign For 'Transformers: The Last Knight'</strong>
							<span class="item-meta">
								<span><i class="material-icons">share</i> 391 shares</span>
								<span><i class="material-icons">chat_bubble_outline</i> 12 comments</span>
							</span>
						</span>
					</a>
				</div>
			</div> -->
			
			<!-- BEGIN #header -->
			<header id="header">
				
				<nav class="otm otm-follow">
					
					<div class="ot-hyper-menu">
						<a href="index.html">
							<img id="header-logo-img" src="images/logo.png" data-ot-retina="images/logo@2x.png" alt="" />
							<!-- <strong id="header-logo-text">Bundy</strong> -->
							<i class="material-icons">menu</i>
						</a>
						<div class="ot-hyper-menu-content">
							<ul class="load-responsive">
								<li><a href="blog.html"><i class="material-icons">book</i><span>Blog page</span></a></li>
								<li><a href="post.html"><i class="material-icons">chrome_reader_mode</i><span>Post page</span></a></li>
								<li><a href="forum.html"><i class="material-icons">forum</i><span>Forums</span></a></li>
								<li><a href="photo-gallery.html"><i class="material-icons">photo_library</i><span>Gallery</span></a></li>
								<li><a href="shortcode.html"><i class="material-icons">code</i><span>Shortcodes</span></a></li>
								<li><a href="contact.html"><i class="material-icons">place</i><span>Contact us</span></a></li>
							</ul>
							<h3>Features</h3>
							<ul class="load-responsive">
								<li><a href="full-width.html"><i class="material-icons">panorama_wide_angle</i><span>Full width</span></a></li>
								<li><a href="404-page.html"><i class="material-icons">error</i><span>404 page</span></a></li>
								<li><a href="read-later.html"><i class="material-icons">access_time</i><span>Read later</span></a></li>
								<li><a href="login.html"><i class="material-icons">person</i><span>Login</span></a></li>
								<li><a href="signup.html"><i class="material-icons">person_add</i><span>Signup</span></a></li>
								<li><a href="forgot.html"><i class="material-icons">lock</i><span>Lost password</span></a></li>
							</ul>
						</div>
					</div>

					<div class="ot-right-buttons">
						<ul>
							<li><a href="#ot-search-overlay"><i class="material-icons">search</i></a></li>
							<li class="load-responsive-bar"><a href="#ot-login-overlay" style="background-color: #82b93a;"><i class="material-icons">add_circle_outline</i><span>Create post</span></a></li>
							<li class="load-responsive-bar"><a href="#ot-login-overlay"><i class="material-icons">person_outline</i></a></li>
						</ul>
					</div>

					<ul class="load-responsive">
						<li class="menu-with-icon-n-underline"><a href="blog.html"><i class="material-icons">whatshot</i>Hot posts</a></li>
						<li class="menu-with-icon-n-underline"><a href="blog.html"><i class="material-icons">star_border</i>Popular</a></li>
						<li class="menu-with-icon-n-underline"><a href="blog.html"><i class="material-icons">trending_up</i>Trending</a></li>
						<li class="menu-with-icon-n-underline"><a href="blog.html"><i class="material-icons">access_time</i>Latest</a></li>
						<!-- <li><a href="#"><span>Blog</span></a>
							<ul class="sub-menu">
								<li><a href="#">Post</a></li>
								<li><a href="#">Post</a></li>
								<li><a href="#">Post</a></li>
							</ul>
						</li>
						<li><a href="#"><span>Mega menu</span></a>
							<ul class="sub-menu ot-mega-menu">
								<li class="menu-widgets">
									<div class="otg otg-items-4">
										<div class="otg-item">
											<p>asd</p>
										</div>
										<div class="otg-item">
											<p>asd</p>
										</div>
										<div class="otg-item">
											<p>asd</p>
										</div>
										<div class="otg-item">
											<p>asd</p>
										</div>
									</div>
								</li>
							</ul>
						</li> -->
					</ul>
				</nav>
				
			<!-- END #header -->
			</header>
				
			<div id="search-overlay">
				<div id="search-overlay-inner">

					<form action="blog.html" method="get">
						<input type="text" value="" placeholder="Search something.." />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>

					<strong class="category-listing-title"><span>Articles worth reading</span></strong>

					<div class="ot-content-block">

						<div class="ot-grid-article-list otg otg-items-3 otg-h-30 ot-blog-block">
					
							<div class="otg-item">
								<div class="item-header">
									<span class="item-categories">
										<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
										<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
									</span>
									<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><img src="images/photos/image-15.jpg" alt=""></a>
								</div>
								<div class="item-inner">
									<h2><a href="post.html">Wait, Whaaat? These 17 Paintings Cost Over 10 Million Bucks</a></h2>
									<div class="item-meta">
										<a href="blog.html" class="item-meta-i"><img src="images/no-avatar.jpg" alt="">John Doe</a>
										<span class="item-meta-i">5 hours ago</span>
									</div>
								</div>
							</div>
					
							<div class="otg-item">
								<div class="item-header">
									<span class="item-categories">
										<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
										<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
									</span>
									<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><img src="images/photos/image-16.jpg" alt=""></a>
								</div>
								<div class="item-inner">
									<h2><a href="post.html">Wait, Whaaat? These 17 Paintings Cost Over 10 Million Bucks</a></h2>
									<div class="item-meta">
										<a href="blog.html" class="item-meta-i"><img src="images/no-avatar.jpg" alt="">John Doe</a>
										<span class="item-meta-i">5 hours ago</span>
									</div>
								</div>
							</div>
					
							<div class="otg-item">
								<div class="item-header">
									<span class="item-categories">
										<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
										<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
									</span>
									<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><img src="images/photos/image-17.jpg" alt=""></a>
								</div>
								<div class="item-inner">
									<h2><a href="post.html">Wait, Whaaat? These 17 Paintings Cost Over 10 Million Bucks</a></h2>
									<div class="item-meta">
										<a href="blog.html" class="item-meta-i"><img src="images/no-avatar.jpg" alt="">John Doe</a>
										<span class="item-meta-i">5 hours ago</span>
									</div>
								</div>
							</div>

						</div>
						
					</div>

				</div>
			</div>
			
			<div id="login-overlay">
				<div id="login-overlay-inner">
					<div>

						<div class="login-overlay-explain-side">
							<h2>Welcome to <strong>Bundy</strong></h2>
							<strong>why should I bother ?</strong>
							<hr>
							<p>You will be granted a lot of features when signed in:</p>
							<ul>
								<li>Create new posts</li>
								<li>Ability to comment on anything</li>
								<li>Express your opinion on forums</li>
								<li>Become a community member</li>
							</ul>
							<a href="signup.html" class="login-explain-button">Yes! Sign me up!</a>
						</div>

						<div class="login-overlay-form-side">
							<div class="ot-form-login">
								<div class="ot-login-w-social">
									<p>You can login using social media</p>
									<a href="#" class="ot-login-soc-facebook"><i class="fa fa-facebook"></i>Connect with Facebook</a>
									<a href="#" class="ot-login-soc-twitter"><i class="fa fa-twitter"></i>Connect with Twitter</a>
								</div>

								<div class="ot-split-hr"><span>OR</span></div>

								<p><input type="text" autocomplete="off" value="" placeholder="Username" /></p>
								<p><input type="password" autocomplete="off" value="" placeholder="Password" /></p>
								<p class="submit"><input type="submit" value="Member Login" class="button" /></p>
							</div>
						</div>

					</div>

				</div>

				<span id="login-close-bnt">
					<a href="#" class="login-close-a"><i class="material-icons">close</i>Close this window</a>
				</span>
			</div>
			
			<!-- BEGIN #content -->
			<main id="content">

				<!-- <div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<ul id="ot-breadcrumbs-list">
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.html" itemprop="url"><meta itemprop="title" content="Homepage"/>Homepage</a></li>
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="blog.html" itemprop="url"><meta itemprop="title" content="Blog"/>Blog</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<span>Some optional subtitle goes here...</span>
							<a href="#" class="ot-bread-action">Call to action button</a>
						</div>
					</div>
				</div>

				<div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<h1 class="entry-title">Page width sidebar</h1>
							<a href="#" class="ot-bread-action">Call to action button</a>
						</div>
					</div>
				</div> -->

				<!-- <div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<h1 class="entry-title">Page width sidebar</h1>
							<span>Some optional subtitle goes here...</span>
							<a href="#" class="ot-bread-action">Call to action button</a>
						</div>
					</div>
				</div> -->

				<!-- <div class="ot-breatcrumbs">
					<div class="container">
						<div class="aside-long-head">
							<a href="#"><img src="images/aside-2.png" alt="" /></a>
						</div>
					</div>
				</div> -->

				<div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<h1 class="entry-title">Community boards</h1>
							<!-- <ul id="ot-breadcrumbs-list">
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.html" itemprop="url"><meta itemprop="title" content="Homepage"/>Homepage</a></li>
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="forum.html" itemprop="url"><meta itemprop="title" content="Forums"/>Forums</a></li>
							</ul> -->
							<!-- <a href="#" class="ot-bread-action">Call to action button</a> -->
						</div>
					</div>
				</div>

				<!-- <div class="ot-wide-container ot-wide-container-border" style="background-image: url(../images/bg-texture-grey.jpg);">
					<div class="container">

						<div class="ot-wide-container-inner">
							<p>asd</p>
						</div>

					</div>
				</div>

				<div class="ot-wide-container ot-wide-container-border ot-wide-container-dark">
  
					<video autoplay loop>
						<source type="video/mp4" src="http://blucube.net/stuff/codepen-assets/html5vid/beepl-pink-vynil.mp4">
						<source type="video/webm" src="http://blucube.net/stuff/codepen-assets/html5vid/beepl-pink-vynil.webm">
						<source type="video/ogg" src="http://blucube.net/stuff/codepen-assets/html5vid/beepl-pink-vynil.ogv">
					</video>

					<div class="container">

						<div class="ot-wide-container-inner">
							<h1>Video block</h1>
							<p>asd</p>
						</div>

					</div>
				</div> -->

				<div class="ot-wide-container ot-wide-container-border">
					<div class="container">

						<div class="ot-wide-container-inner">
							
							<div class="otg ot-full-width-block otg-h-40">

								<!-- BEGIN .ot-main-content -->
								<div class="otg-item otg-t-12 ot-main-content">
									
									<div id="bbpress-forums">

	
		<div class="bbp-search-form">

			
<form role="search" method="get" id="bbp-search-form" action="#">
	<div>
		<label class="screen-reader-text hidden" for="bbp_search">Search for:</label>
		<input type="hidden" name="action" value="bbp-search-request">
		<input tabindex="101" type="text" value="" name="bbp_search" id="bbp_search">
		<input tabindex="102" class="button" type="submit" id="bbp_search_submit" value="Search">
	</div>
</form>

		</div>

	
	<div class="bbp-breadcrumb"><p><a href="#" class="bbp-breadcrumb-home">Homepage</a> <span class="bbp-breadcrumb-sep">›</span> <span class="bbp-breadcrumb-current">Forums</span></p></div>
	
	
	
		

<ul id="forums-list-0" class="bbp-forums">

	<li class="bbp-header">

		<ul class="forum-titles">
			<li class="bbp-forum-info">Forum</li>
			<li class="bbp-forum-topic-count">Topics</li>
			<li class="bbp-forum-reply-count">Posts</li>
			<li class="bbp-forum-freshness">Freshness</li>
		</ul>

	</li><!-- .bbp-header -->

	<li class="bbp-body">

		
			
<ul id="bbp-forum-433" class="loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish post-433 forum type-forum status-publish hentry">

	<li class="bbp-forum-info">

		
		
		<a class="bbp-forum-title" href="forum-list.html">Duo alii diam ut, summo timeam pericula</a>

		
		
		<div class="bbp-forum-content">Minim vis te minim erant nonumes. Nec oporteat laboramus accommodare an, vix soluta placerat recteque mutat suscipit intellegebat et sed.</div>

		
		
		
		
		
	</li>

	<li class="bbp-forum-topic-count">3</li>

	<li class="bbp-forum-reply-count">6</li>

	<li class="bbp-forum-freshness">

		
		<a href="post-single.html" title="Reply To: Mauris ultricies elit sed lacus eleifend">2 years, 5 months ago</a>
		
		<p class="bbp-topic-meta">

			
			<span class="bbp-topic-freshness-author"><a href="#" title="View Orange Themes's profile" class="bbp-author-avatar" rel="nofollow"><img src="http://gravatar.com/avatar/cb821c0a9f93a6dc312d0b8dfe665220?d=mm&amp;s=14&amp;r=G" class="avatar user-1-avatar avatar-14 photo" width="14" height="14" alt="Avatar of Orange Themes"></a>&nbsp;<a href="#" title="View Orange Themes's profile" class="bbp-author-name" rel="nofollow">Orange Themes</a></span>

			
		</p>
	</li>

</ul><!-- #bbp-forum-433 -->

		
			
<ul id="bbp-forum-425" class="loop-item-1 even bbp-has-subforums bbp-forum-status-open bbp-forum-visibility-publish post-425 forum type-forum status-publish hentry">

	<li class="bbp-forum-info">

		
		
		<a class="bbp-forum-title" href="forum-list.html">Eum in hinc inani pericula, cu quidam commune explicari vis</a>

		
		
		<div class="bbp-forum-content">Et prima maiestatis mel. Id mollis deleniti adolescens sit, qui quis onse</div>

		
		
		
		
		
	</li>

	<li class="bbp-forum-topic-count">3</li>

	<li class="bbp-forum-reply-count">6</li>

	<li class="bbp-forum-freshness">

		
		<a href="forum-single.html" title="Mauris ultricies elit sed lacus eleifend">2 years, 5 months ago</a>
		
		<p class="bbp-topic-meta">

			
			<span class="bbp-topic-freshness-author"><a href="#" title="View Orange Themes's profile" class="bbp-author-avatar" rel="nofollow"><img src="http://gravatar.com/avatar/cb821c0a9f93a6dc312d0b8dfe665220?d=mm&amp;s=14&amp;r=G" class="avatar user-1-avatar avatar-14 photo" width="14" height="14" alt="Avatar of Orange Themes"></a>&nbsp;<a href="#" title="View Orange Themes's profile" class="bbp-author-name" rel="nofollow">Orange Themes</a></span>

			
		</p>
	</li>

</ul><!-- #bbp-forum-425 -->

		
			
<ul id="bbp-forum-442" class="loop-item-2 odd bbp-forum-status-open bbp-forum-visibility-publish post-442 forum type-forum status-publish hentry">

	<li class="bbp-forum-info">

		
		
		<a class="bbp-forum-title" href="forum-list.html">Has at iusto lobortis</a>

		
		
		<div class="bbp-forum-content">Id mollis deleniti adolescens sit, qui quis onse</div>

		
		
		
		
		
	</li>

	<li class="bbp-forum-topic-count">1</li>

	<li class="bbp-forum-reply-count">2</li>

	<li class="bbp-forum-freshness">

		
		<a href="forum-single.html" title="Reply To: Nullam et tempor massa">2 years, 5 months ago</a>
		
		<p class="bbp-topic-meta">

			
			<span class="bbp-topic-freshness-author"><a href="#" title="View Orange Themes's profile" class="bbp-author-avatar" rel="nofollow"><img src="http://gravatar.com/avatar/cb821c0a9f93a6dc312d0b8dfe665220?d=mm&amp;s=14&amp;r=G" class="avatar user-1-avatar avatar-14 photo" width="14" height="14" alt="Avatar of Orange Themes"></a>&nbsp;<a href="#" title="View Orange Themes's profile" class="bbp-author-name" rel="nofollow">Orange Themes</a></span>

			
		</p>
	</li>

</ul><!-- #bbp-forum-442 -->

		
			
<ul id="bbp-forum-547" class="loop-item-3 even bbp-forum-status-open bbp-forum-visibility-publish post-547 forum type-forum status-publish hentry">

	<li class="bbp-forum-info">

		
		
		<a class="bbp-forum-title" href="forum-list.html">Interdum et malesuada fames ac ante ipsum primis in faucibus.</a>

		
		
		<div class="bbp-forum-content">Nulla facilisi. Curabitur at leo condimentum est porttitor facilisis venenatis non nibh. Curabitur mattis laoreet nulla, at lacinia elit varius ultrices. Mauris arcu tortor, dignissim malesuada placerat ac, bibendum eu mauris.</div>

		
		
		
		
		
	</li>

	<li class="bbp-forum-topic-count">0</li>

	<li class="bbp-forum-reply-count">0</li>

	<li class="bbp-forum-freshness">

		
		No Topics
		
		<p class="bbp-topic-meta">

			
			<span class="bbp-topic-freshness-author"></span>

			
		</p>
	</li>

</ul><!-- #bbp-forum-547 -->

		
			
<ul id="bbp-forum-444" class="loop-item-4 odd bbp-forum-status-open bbp-forum-visibility-publish post-444 forum type-forum status-publish hentry">

	<li class="bbp-forum-info">

		
		
		<a class="bbp-forum-title" href="forum-list.html">Lorem ipsum</a>

		
		
		<div class="bbp-forum-content">Nec oporteat laboramus accommodare an</div>

		
		
		
		
		
	</li>

	<li class="bbp-forum-topic-count">0</li>

	<li class="bbp-forum-reply-count">0</li>

	<li class="bbp-forum-freshness">

		
		No Topics
		
		<p class="bbp-topic-meta">

			
			<span class="bbp-topic-freshness-author"></span>

			
		</p>
	</li>

</ul><!-- #bbp-forum-444 -->

		
	</li><!-- .bbp-body -->

	<li class="bbp-footer">

		<div class="tr">
			<p class="td colspan4">&nbsp;</p>
		</div><!-- .tr -->

	</li><!-- .bbp-footer -->

</ul><!-- .forums-directory -->


	
	
</div>

								<!-- END .ot-main-content -->
								</div>

							</div>

						</div>

					</div>
				</div>

			<!-- BEGIN #content -->
			</main>
			
			<!-- BEGIN #footer -->
			<footer id="footer">

				<div id="footer-widgets">
					<div class="container">
						<div class="otg otg-items-4 otg-h-40 otg-v-40">

							<div class="otg-item widget">
								<h3>About company</h3>
								<div class="widget-content">
									<p>Qui etiam prompta id, vix id epicurei repudiare, id mel viris doming persius. Quis mucius utamur his ei. Ferri adhuc deseruisse id eam, vel eleifend</p>
									<p>Persecuti moderatius pro cu, cibo assentior eloquentiam mel ei. Qui ne movet salutatus dignissim.</p>
									<p>Epicurei repudiare, doming id mel viris doming persius.</p>
								</div>
							</div>

							<div class="otg-item widget ot-widget-square-posts">
								<h3>Funniest gifs</h3>
								<div class="widget-content">
									<div class="otg otg-items-3 otg-h-20 otg-v-20">

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons">whatshot</i><img src="images/photos/image-4.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons">whatshot</i><img src="images/photos/image-5.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons" style="background-color: #efed32; color: #444;">star_border</i><img src="images/photos/image-6.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons" style="background-color: #efed32; color: #444;">star_border</i><img src="images/photos/image-7.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons" style="background-color: #ff4d2a;">access_time</i><img src="images/photos/image-8.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons" style="background-color: #ff4d2a;">access_time</i><img src="images/photos/image-9.jpg" alt="" /></a>
										</div>

									</div>
								</div>
								<a href="blog.html" class="widget-button">View more of this</a>
							</div>

							<div class="otg-item widget ot-widget-wide-posts">
								<h3>Popular posts</h3>
								<div class="widget-content">

									<div class="item">
										<a href="post.html" class="otgif-overlay" data-otgif-icon="play_arrow"><i class="material-icons">whatshot</i><img src="images/photos/image-10.jpg" alt="" /></a>
										<h4><a href="post.html">His eu volumus dissentiunt</a></h4>
									</div>

									<div class="item">
										<a href="post.html" class="otgif-overlay" data-otgif-icon="play_arrow"><i class="material-icons">whatshot</i><img src="images/photos/image-11.jpg" alt="" /></a>
										<h4><a href="post.html">Vix veri tempor populo ea</a></h4>
									</div>

								</div>
							</div>

							<div class="otg-item widget ot-widget-social-block">
								<h3>We're on social media</h3>
								<div class="widget-content">
									<div class="otg otg-items-3 otg-h-10 otg-v-10">

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-google-plus"><i class="fa fa-google-plus"></i><span>Google+</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-reddit"><i class="fa fa-reddit-alien"></i><span>Reddit</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-youtube"><i class="fa fa-youtube-play"></i><span>Youtube</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-tumblr"><i class="fa fa-tumblr"></i><span>Tumblr</span></a>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				
				<div id="footer-copy">
					<div class="container">
						<p>&copy; Copyright 2016 by <a href="http://orange-themes.net" target="_blank">Orange-Themes.net</a>. All rights reserved.</p>
						<ul class="load-responsive">
							<li><a href="full-width.html">Disclaimer</a></li>
							<li><a href="full-width.html">Terms of Service</a></li>
							<li><a href="full-width.html">Privacy Policy</a></li>
							<li><a href="contact.html">Contact us</a></li>
						</ul>
					</div>
				</div>
				
			<!-- END #footer -->
			</footer>
			
		<!-- END #boxed -->
		</div>

		<!-- Scripts -->
		<script type="text/javascript" src="jscript/jquery-latest.min.js"></script>
		<script>
			// var _otmLogo = 'Template';
			var _otmLogo = '<img src="images/logo.png" alt="OrangeThemes" />';
			var _otmSearch = "blog.html";
		</script>
		<script type="text/javascript" src="jscript/otmenu.min.js"></script>
		<script type="text/javascript" src="jscript/theme-scripts.min.js"></script>
		<script type="text/javascript" src="jscript/ot-lightbox.min.js"></script>


		<script type="text/javascript" src="jscript/theia-sticky-sidebar.min.js"></script>

		<script type="text/javascript">
			jQuery(document).ready(function() {
				var margintop = (jQuery("body").hasClass("ot-menu-will-follow"))?70:30;
				jQuery('.theiaStickySidebar', "body").parent().theiaStickySidebar({
					additionalMarginTop: margintop
				});
			});
		</script>

	<!-- END body -->
	</body>
<!-- END html -->
</html>