<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang = "en">
	<!-- BEGIN head -->
	<head>
		<title>Bundy | Shortcodes</title>

		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />

		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%7CRoboto:400,500,700%7CLato:400,500,700&amp;subset=latin,latin-ext" />
		<link type="text/css" rel="stylesheet" href="css/reset.min.css" />
		<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" href="css/otgrid.min.css" />
		<link type="text/css" rel="stylesheet" href="css/main-stylesheet.min.css" />
		<link type="text/css" rel="stylesheet" href="css/ot-lightbox.min.css" />
		<link type="text/css" rel="stylesheet" href="css/shortcodes.min.css" />
		<link type="text/css" rel="stylesheet" href="css/custom-styles.min.css" />
		<link type="text/css" rel="stylesheet" href="css/responsive.min.css" />

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!--[if lte IE 8]>
		<link type="text/css" rel="stylesheet" href="css/ie-ancient.min.css" />
		<![endif]-->

		<!-- Demo Only -->
		

	<!-- END head -->
	</head>

	<!-- BEGIN body -->
	<body class="ot-menu-will-follow">

		<div class="hentry">
			<span class="entry-title" style="display: none;">Home</span>
			<span class="vcard" style="display: none;">
				<span class="fn"><a href="" title="Posts by Orange Themes" rel="author">Orange Themes</a></span>
			</span>
			<span class="updated" style="display:none;">2016-04-18T08:17:28+00:00</span>
		</div>

		<!-- BEGIN #boxed -->
		<div id="boxed">

			<div class="header-post-module">
				<div class="item">
					<span class="item-categories">
						<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
						<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
					</span>
					<a href="post.html">
						<span class="item-header">
							<img src="images/photos/image-1.jpg" alt="" />
						</span>
						<span class="item-content">
							<strong>Michael Bay Reveals Hound Redesign For 'Transformers: The Last Knight'</strong>
							<span class="item-meta">
								<span><i class="material-icons">share</i> 391 shares</span>
								<span><i class="material-icons">chat_bubble_outline</i> 12 comments</span>
							</span>
						</span>
					</a>
				</div>
				<div class="item">
					<span class="item-categories">
						<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
					</span>
					<a href="post.html">
						<span class="item-header">
							<img src="images/photos/image-2.jpg" alt="" />
						</span>
						<span class="item-content">
							<strong>Michael Bay Reveals Hound Redesign For 'Transformers: The Last Knight'</strong>
							<span class="item-meta">
								<span><i class="material-icons">share</i> 391 shares</span>
								<span><i class="material-icons">chat_bubble_outline</i> 12 comments</span>
							</span>
						</span>
					</a>
				</div>
				<div class="item">
					<span class="item-categories">
						<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
					</span>
					<a href="post.html">
						<span class="item-header">
							<img src="images/photos/image-3.jpg" alt="" />
						</span>
						<span class="item-content">
							<strong>Michael Bay Reveals Hound Redesign For 'Transformers: The Last Knight'</strong>
							<span class="item-meta">
								<span><i class="material-icons">share</i> 391 shares</span>
								<span><i class="material-icons">chat_bubble_outline</i> 12 comments</span>
							</span>
						</span>
					</a>
				</div>
			</div>
			
			<!-- BEGIN #header -->
			<header id="header">
				
				<nav class="otm otm-follow">
					
					<div class="ot-hyper-menu">
						<a href="index.html">
							<img id="header-logo-img" src="images/logo.png" data-ot-retina="images/logo@2x.png" alt="" />
							<!-- <strong id="header-logo-text">Bundy</strong> -->
							<i class="material-icons">menu</i>
						</a>
						<div class="ot-hyper-menu-content">
							<ul class="load-responsive">
								<li><a href="blog.html"><i class="material-icons">book</i><span>Blog page</span></a></li>
								<li><a href="post.html"><i class="material-icons">chrome_reader_mode</i><span>Post page</span></a></li>
								<li><a href="forum.html"><i class="material-icons">forum</i><span>Forums</span></a></li>
								<li><a href="photo-gallery.html"><i class="material-icons">photo_library</i><span>Gallery</span></a></li>
								<li><a href="shortcode.html"><i class="material-icons">code</i><span>Shortcodes</span></a></li>
								<li><a href="contact.html"><i class="material-icons">place</i><span>Contact us</span></a></li>
							</ul>
							<h3>Features</h3>
							<ul class="load-responsive">
								<li><a href="full-width.html"><i class="material-icons">panorama_wide_angle</i><span>Full width</span></a></li>
								<li><a href="404-page.html"><i class="material-icons">error</i><span>404 page</span></a></li>
								<li><a href="read-later.html"><i class="material-icons">access_time</i><span>Read later</span></a></li>
								<li><a href="login.html"><i class="material-icons">person</i><span>Login</span></a></li>
								<li><a href="signup.html"><i class="material-icons">person_add</i><span>Signup</span></a></li>
								<li><a href="forgot.html"><i class="material-icons">lock</i><span>Lost password</span></a></li>
							</ul>
						</div>
					</div>

					<div class="ot-right-buttons">
						<ul>
							<li><a href="#ot-search-overlay"><i class="material-icons">search</i></a></li>
							<li class="load-responsive-bar"><a href="#ot-login-overlay" style="background-color: #82b93a;"><i class="material-icons">add_circle_outline</i><span>Create post</span></a></li>
							<li class="load-responsive-bar"><a href="#ot-login-overlay"><i class="material-icons">person_outline</i></a></li>
						</ul>
					</div>

					<ul class="load-responsive">
						<li class="menu-with-icon-n-underline"><a href="blog.html"><i class="material-icons">whatshot</i>Hot posts</a></li>
						<li class="menu-with-icon-n-underline"><a href="blog.html"><i class="material-icons">star_border</i>Popular</a></li>
						<li class="menu-with-icon-n-underline"><a href="blog.html"><i class="material-icons">trending_up</i>Trending</a></li>
						<li class="menu-with-icon-n-underline"><a href="blog.html"><i class="material-icons">access_time</i>Latest</a></li>
						<!-- <li><a href="#"><span>Blog</span></a>
							<ul class="sub-menu">
								<li><a href="#">Post</a></li>
								<li><a href="#">Post</a></li>
								<li><a href="#">Post</a></li>
							</ul>
						</li>
						<li><a href="#"><span>Mega menu</span></a>
							<ul class="sub-menu ot-mega-menu">
								<li class="menu-widgets">
									<div class="otg otg-items-4">
										<div class="otg-item">
											<p>asd</p>
										</div>
										<div class="otg-item">
											<p>asd</p>
										</div>
										<div class="otg-item">
											<p>asd</p>
										</div>
										<div class="otg-item">
											<p>asd</p>
										</div>
									</div>
								</li>
							</ul>
						</li> -->
					</ul>
				</nav>
				
			<!-- END #header -->
			</header>
				
			<div id="search-overlay">
				<div id="search-overlay-inner">

					<form action="blog.html" method="get">
						<input type="text" value="" placeholder="Search something.." />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>

					<strong class="category-listing-title"><span>Articles worth reading</span></strong>

					<div class="ot-content-block">

						<div class="ot-grid-article-list otg otg-items-3 otg-h-30 ot-blog-block">
					
							<div class="otg-item">
								<div class="item-header">
									<span class="item-categories">
										<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
										<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
									</span>
									<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><img src="images/photos/image-15.jpg" alt=""></a>
								</div>
								<div class="item-inner">
									<h2><a href="post.html">Wait, Whaaat? These 17 Paintings Cost Over 10 Million Bucks</a></h2>
									<div class="item-meta">
										<a href="blog.html" class="item-meta-i"><img src="images/no-avatar.jpg" alt="">John Doe</a>
										<span class="item-meta-i">5 hours ago</span>
									</div>
								</div>
							</div>
					
							<div class="otg-item">
								<div class="item-header">
									<span class="item-categories">
										<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
										<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
									</span>
									<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><img src="images/photos/image-16.jpg" alt=""></a>
								</div>
								<div class="item-inner">
									<h2><a href="post.html">Wait, Whaaat? These 17 Paintings Cost Over 10 Million Bucks</a></h2>
									<div class="item-meta">
										<a href="blog.html" class="item-meta-i"><img src="images/no-avatar.jpg" alt="">John Doe</a>
										<span class="item-meta-i">5 hours ago</span>
									</div>
								</div>
							</div>
					
							<div class="otg-item">
								<div class="item-header">
									<span class="item-categories">
										<a href="blog.html" style="background-color: #efed32; color: #444;"><i class="material-icons">star_border</i></a>
										<a href="blog.html" style="background-color: #005bac;"><i class="material-icons">whatshot</i></a>
									</span>
									<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><img src="images/photos/image-17.jpg" alt=""></a>
								</div>
								<div class="item-inner">
									<h2><a href="post.html">Wait, Whaaat? These 17 Paintings Cost Over 10 Million Bucks</a></h2>
									<div class="item-meta">
										<a href="blog.html" class="item-meta-i"><img src="images/no-avatar.jpg" alt="">John Doe</a>
										<span class="item-meta-i">5 hours ago</span>
									</div>
								</div>
							</div>

						</div>
						
					</div>

				</div>
			</div>
			
			<div id="login-overlay">
				<div id="login-overlay-inner">
					<div>

						<div class="login-overlay-explain-side">
							<h2>Welcome to <strong>Bundy</strong></h2>
							<strong>why should I bother ?</strong>
							<hr>
							<p>You will be granted a lot of features when signed in:</p>
							<ul>
								<li>Create new posts</li>
								<li>Ability to comment on anything</li>
								<li>Express your opinion on forums</li>
								<li>Become a community member</li>
							</ul>
							<a href="signup.html" class="login-explain-button">Yes! Sign me up!</a>
						</div>

						<div class="login-overlay-form-side">
							<div class="ot-form-login">
								<div class="ot-login-w-social">
									<p>You can login using social media</p>
									<a href="#" class="ot-login-soc-facebook"><i class="fa fa-facebook"></i>Connect with Facebook</a>
									<a href="#" class="ot-login-soc-twitter"><i class="fa fa-twitter"></i>Connect with Twitter</a>
								</div>

								<div class="ot-split-hr"><span>OR</span></div>

								<p><input type="text" autocomplete="off" value="" placeholder="Username" /></p>
								<p><input type="password" autocomplete="off" value="" placeholder="Password" /></p>
								<p class="submit"><input type="submit" value="Member Login" class="button" /></p>
							</div>
						</div>

					</div>

				</div>

				<span id="login-close-bnt">
					<a href="#" class="login-close-a"><i class="material-icons">close</i>Close this window</a>
				</span>
			</div>
			
			<!-- BEGIN #content -->
			<main id="content">

				<!-- <div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<ul id="ot-breadcrumbs-list">
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.html" itemprop="url"><meta itemprop="title" content="Homepage"/>Homepage</a></li>
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="blog.html" itemprop="url"><meta itemprop="title" content="Blog"/>Blog</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<span>Some optional subtitle goes here...</span>
							<a href="#" class="ot-bread-action">Call to action button</a>
						</div>
					</div>
				</div>

				<div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<h1 class="entry-title">Page width sidebar</h1>
							<a href="#" class="ot-bread-action">Call to action button</a>
						</div>
					</div>
				</div> -->

				<!-- <div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<h1 class="entry-title">Page width sidebar</h1>
							<span>Some optional subtitle goes here...</span>
							<a href="#" class="ot-bread-action">Call to action button</a>
						</div>
					</div>
				</div> -->

				<!-- <div class="ot-breatcrumbs">
					<div class="container">
						<div class="aside-long-head">
							<a href="#"><img src="images/aside-2.png" alt="" /></a>
						</div>
					</div>
				</div> -->

				<div class="ot-breatcrumbs">
					<div class="container">
						<div>
							<h1 class="entry-title">Orange Themes Shortcodes</h1>
							<ul id="ot-breadcrumbs-list">
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.html" itemprop="url"><meta itemprop="title" content="Homepage"/>Homepage</a></li>
								<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="shortcodes.html" itemprop="url"><meta itemprop="title" content="Shortcodes"/>Shortcodes</a></li>
							</ul>
							<!-- <a href="#" class="ot-bread-action">Call to action button</a> -->
						</div>
					</div>
				</div>

				<!-- <div class="ot-wide-container ot-wide-container-border" style="background-image: url(../images/bg-texture-grey.jpg);">
					<div class="container">

						<div class="ot-wide-container-inner">
							<p>asd</p>
						</div>

					</div>
				</div>

				<div class="ot-wide-container ot-wide-container-border ot-wide-container-dark">
  
					<video autoplay loop>
						<source type="video/mp4" src="http://blucube.net/stuff/codepen-assets/html5vid/beepl-pink-vynil.mp4">
						<source type="video/webm" src="http://blucube.net/stuff/codepen-assets/html5vid/beepl-pink-vynil.webm">
						<source type="video/ogg" src="http://blucube.net/stuff/codepen-assets/html5vid/beepl-pink-vynil.ogv">
					</video>

					<div class="container">

						<div class="ot-wide-container-inner">
							<h1>Video block</h1>
							<p>asd</p>
						</div>

					</div>
				</div> -->

				<div class="ot-wide-container ot-wide-container-border">
					<div class="container">

						<div class="ot-wide-container-inner">
							
							<div class="otg ot-sidebar-block otg-h-40">

								<!-- BEGIN .ot-main-content -->
								<div class="otg-item otg-t-8 ot-main-content">
									
									<div class="shortcode-content">

										<h1>Heading preview H1</h1>
										<h2>Heading preview H2</h2>
										<h3>Heading preview H3</h3>
										<h4>Heading preview H4</h4>
										<h5>Heading preview H5</h5>
										<h6>Heading preview H6</h6>

										<p>Usu malorum saperet admodum et, at sea sint nonumes, per graeci diceret indoctum te. Pri unum explicari in, sit exerci dissentias eu. Prompta constituam concludaturque vel ei, ne odio officiis nam. Vis eu vide legendos adipiscing, sed no movet quodsi pertinacia. Causae audire id mel. Ad sit quod falli feugait, quaeque comprehensam mei ne, no vix inani ullamcorper definitionem.</p>

										<h2>Heading preview H2</h2>

										<p>Vel quis mediocrem consetetur eu, et alii oblique debitis ius. Sea ne dictas aliquip, ea illum idque has, has decore essent commune te. Vis odio etiam ne. Eum accumsan adipiscing omittantur ad, nisl periculis ut usu. Debet laoreet et eos, habemus recteque disputationi sea et.</p>

										<p>No noster dicunt sea, iuvaret theophrastus vel at. Vix ipsum facete liberavisse ei. Dicam viderer nec te, vix id modo eripuit. Discere pertinax suavitate has no, at sea laoreet theophrastus. Lorem rationibus ut usu, nihil accusamus mei ne. Usu in impetus suscipit, vis eu delectus praesent qualisque.</p>

										<p>Qui odio dicta forensibus in. At ridens everti pri. Per ut falli omittam atomorum, quaeque mentitum ad his. Agam oporteat ea sed. Has ut putant dictas elaboraret.</p>
										<div class="wp-caption aligncenter">
											<a href="images/photos/image-18.jpg" class="lightbox-photo" title="Photo by Modestas Urbonas, CC0 License"><img src="images/photos/image-18.jpg" alt="" /></a>
											<p class="wp-caption-text">Photo by <strong>Modestas Urbonas</strong>, CC0 License</p>
										</div>

										<p>At harum nobis duo, ut graece eruditi pri. Cu altera alienum maluisset sed, vix corpora reprimique id, ut case dicta sit. Iuvaret accusat delicata vel id. In sea possim adolescens. Te probo aliquid necessitatibus qui, mel altera assueverit ei.</p>

										<h3>Photo Gallery Shortcode</h3>

										<div class="pos-photo-gallery">
											<div class="item-list">
												<a href="photo-gallery-single.html" class="item">
													<img src="images/photos/image-5.jpg" alt="" />
												</a>
												<a href="photo-gallery-single.html" class="item">
													<img src="images/photos/image-6.jpg" alt="" />
												</a>
												<a href="photo-gallery-single.html" class="item">
													<img src="images/photos/image-7.jpg" alt="" />
												</a>
												<a href="photo-gallery-single.html" class="item">
													<img src="images/photos/image-8.jpg" alt="" />
												</a>
												<a href="photo-gallery-single.html" class="item">
													<img src="images/photos/image-9.jpg" alt="" />
												</a>
											</div>
											<a href="photo-gallery-single.html" class="right">View more photos<i class="fa fa-chevron-right"></i></a>
										</div>

										<p>Has ea sonet euismod, has id wisi dolor, an mei populo referrentur. Duo id essent aperiri minimum, amet vocent nostrud vel ad. Ut his alienum accusata partiendo, commodo impedit mel ut. Tale vulputate omittantur mei no, recusabo mandamus persecuti sed ea, ad explicari consetetur vim.</p>

										<h3>Content Spacers</h3>

										<div class="ot-spacer spacer-1"></div>

										<div class="ot-spacer spacer-2" data-spacer-color="#6441a5">
											<i class="fa fa-twitch"></i>
										</div>

										<div class="ot-spacer spacer-2" data-spacer-color="#00bf8f">
											<i class="fa fa-vine"></i>
											<strong>Text and icon combined</strong>
										</div>

										<div class="ot-spacer spacer-3" data-spacer-color="#444444">
											<strong>Custom Text</strong>
										</div>

										<div class="ot-spacer spacer-3" data-spacer-color="#abd41b">
											<i class="fa fa-tree"></i>
										</div>

										<div class="ot-spacer spacer-3" data-spacer-color="#3b5998">
											<i class="fa fa-thumbs-up"></i>
											<i class="fa fa-flash"></i>
											<strong>Any Combination</strong>
											<i class="fa fa-flag"></i>
											<i class="fa fa-headphones"></i>
										</div>

										<p>Ius congue albucius philosophia no, duo ei meis illum animal, ius id adhuc quaeque. Sea in liber nihil intellegam, ei viris doctus fuisset pro. Pri vidisse omittam cotidieque no, munere audiam ne vim, ea quando ridens eum. Mei et vocent legimus officiis, in pri magna nonumes consectetuer. Stet nemore eloquentiam et vis, illud possit cum et, sea ad liber paulo fierent.</p>

										<h3>Colorful buttons (unlimited colors)</h3>

										<p>
											<a href="#" class="ot-shortcode-button button">Default button</a>
											<a href="#" class="ot-shortcode-button button" data-ot-css="background-color: #c23a28;"><i class="fa fa-paste left"></i>Red button</a>
											<a href="#" class="ot-shortcode-button button" data-ot-css="background-color: #8cac2b;"><i class="fa fa-plug right"></i>Green Button</a>
											<a href="#" class="ot-shortcode-button button" data-ot-css="background-color: #e88817;"><i class="fa fa-rss"></i></a>
											<a href="#" class="ot-shortcode-button button" data-ot-css="background-color: #424242;">Any color from pallete</a>
										</p>

										<p>
											<a href="#" class="ot-shortcode-button button button-outline">Default button</a>
											<a href="#" class="ot-shortcode-button button button-outline" data-ot-css="border-color: #c23a28; color: #c23a28;"><i class="fa fa-paste left"></i>Red button</a>
											<a href="#" class="ot-shortcode-button button button-outline" data-ot-css="border-color: #8cac2b; color: #8cac2b;"><i class="fa fa-plug right"></i>Green Button</a>
											<a href="#" class="ot-shortcode-button button button-outline" data-ot-css="border-color: #e88817; color: #e88817;"><i class="fa fa-rss"></i></a>
											<a href="#" class="ot-shortcode-button button button-outline" data-ot-css="border-color: #424242; color: #424242;">Any color from pallete</a>
										</p>

										<p>Has ea sonet euismod, has id wisi dolor, an mei populo referrentur. Duo id essent aperiri minimum, amet vocent nostrud vel ad. Ut his alienum accusata partiendo, commodo impedit mel ut. Tale vulputate omittantur mei no, recusabo mandamus persecuti sed ea, ad explicari consetetur vim.</p>

										<h3>Tabbed blocks</h3>

										<div class="ot-shortcode-tabs">
											<ul>
												<li class="active"><a href="#"><i class="fa fa-save"></i>Equidem suscipiantur</a></li>
												<li><a href="#"><i class="fa fa-clock-o"></i>Aeterno laboramus</a></li>
												<li><a href="#"><i class="fa fa-comment"></i>Adipisci comprehens</a></li>
												<li><a href="#"><i class="fa fa-gear"></i>Conceptam ad eam</a></li>
											</ul>

											<div class="active">
												<h2 class="text-center"><i class="fa fa-save"></i></h2>

												<h5 class="text-center">Equidem suscipiantur</h5>

												<p class="text-center">Iudico eripuit conceptam ad eam. Equidem suscipiantur vel ut, nisl solum temporibus nam no, natum oportere in has. Per iusto epicurei ad. Partem copiosae maiestatis mei cu.</p>
											</div>

											<div>
												<h2 class="text-center"><i class="fa fa-clock-o"></i></h2>

												<h5 class="text-center">Aeterno laboramus</h5>

												<p class="text-center">Et pri etiam molestiae, ornatus petentium voluptatibus mel ei. Illum laoreet ocurreret vix ea. No quaeque alterum propriae qui, modo congue cotidieque vel.</p>
											</div>

											<div>
												<h2 class="text-center"><i class="fa fa-comment"></i></h2>

												<h5 class="text-center">Adipisci comprehens</h5>

												<p class="text-center">Everti eloquentiam duo eu, ei vel fugit delenit copiosae. Ius omnesque comprehensam te, iriure gubergren referrentur ex cum. Et pri etiam molestiae, ornatus petentium voluptatibus mel ei.</p>
											</div>

											<div>
												<h2 class="text-center"><i class="fa fa-gear"></i></h2>

												<h5 class="text-center">Conceptam ad eam</h5>

												<p class="text-center">Usu nonumy numquam te, regione scribentur nec ei. Unum clita antiopam ut qui. Eum id nostrud interpretaris. No quando aliquip forensibus mel, eu nullam nemore dissentiet mea.</p>
											</div>
										</div>

										<div class="ot-shortcode-tabs style-2">
											<ul>
												<li class="active"><a href="#">First Tab Active</a></li>
												<li><a href="#">The Second &amp; a Bit Longer Tab</a></li>
												<li><a href="#">Ne est menandri</a></li>
											</ul>
											<div>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, nobis, necessitatibus, et accusamus officia eum voluptatem delectus provident dolor laborum illum id at. Iure tenetur voluptates hic deserunt possimus ipsam.</p>
												<p><a href="#" class="ot-shortcode-button button colored" data-set-button-color="#AAC628">Some Confirmation Button</a></p>
											</div>
											<div>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, nobis, necessitatibus, et accusamus officia eum voluptatem delectus provident dolor laborum illum id at. Iure tenetur voluptates hic deserunt possimus ipsam.</p>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, nobis, necessitatibus, et accusamus officia eum voluptatem delectus provident dolor laborum illum id at. Iure tenetur voluptates hic deserunt possimus ipsam.</p>
											</div>
											<div>
												<p>Reiciendis, pariatur, voluptatum dicta amet ab nobis quod laboriosam ullam eius cumque neque excepturi optio magnam laborum commodi eum expedita. Cumque earum illo vitae ducimus sint excepturi dicta culpa ad!</p>
												<p><a href="#" class="ot-shortcode-button button colored" data-set-button-color="#E25744">Some Cancelation Button</a></p>
											</div>
										</div>

										<p>Usu nonumy numquam te, regione scribentur nec ei. Unum clita antiopam ut qui. Eum id nostrud interpretaris. No quando aliquip forensibus mel, eu nullam nemore dissentiet mea.</p>
										
										<h2 id="video-embeds">Responsive video embeds</h2>

										<div class="ot-shortcode-paragraph-row">
											<div class="column6">
												<div class="video-embed">
													<iframe width="820" height="615" src="http://www.youtube.com/embed/NG2utrMwTyY?rel=0" frameborder="0" allowfullscreen=""></iframe>
												</div>
											</div>
											<div class="column6">
												<div class="video-embed">
													<iframe src="http://player.vimeo.com/video/119151174?color=2980b9" width="820" height="461" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
												</div>
											</div>
										</div>

										<p>Usu nonumy numquam te, regione scribentur nec ei. Unum clita antiopam ut qui. Eum id nostrud interpretaris. No quando aliquip forensibus mel, eu nullam nemore dissentiet mea.</p>

										<h2 id="lists">Unordered &amp; Ordered lists</h2>

										<div class="ot-shortcode-paragraph-row">
											<div class="column6">
												<h3>Unordered List</h3>
												<ul class="fa-ul">
													<li><i class="fa-li fa fa-star"></i>Mauris elit erat, laoreet ac posuere eget, blandit at nunc</li>
													<li><i class="fa-li fa fa-camera"></i>Vestibulum vitae justo nisi</li>
													<li><i class="fa-li fa fa-arrow-circle-o-up"></i>Donec ornare dapibus ante ut porttitor nam sit amet</li>
													<li><i class="fa-li fa fa-forward"></i>Aliquam vestibulum condimentum leo, vel porta sapien</li>
												</ul>
											</div>
											<div class="column6">
												<h3>Ordered List</h3>
												<ol>
													<li>Regione saperet ad qui, mea ex summo, assentior efficiendi</li>
													<li>Quodsi eirmod postulant usu pri possit labores partiendo</li>
													<li>Ne insolens sadipscing platonem facilisis pertinacia duo</li>
													<li>At has purto malis suscipiantur, vero iusto ea qui</li>
												</ol>
											</div>
										</div>

										<p>Pri inani voluptua dissentiet ea, an tibique praesent vel. Utamur pertinacia ullamcorper vix in, nam debet ludus aperiri at. No pri exerci graeci, duis malis phaedrum eu sed, ut mel vivendum signiferumque. Ea summo vitae eleifend eos. Sit ex aeterno suscipit, cum soleat delectus in.</p>

										<h2 id="table">Bootstrap table</h2>

										<table class="table table-striped">
											<thead>
												<tr>
													<th>#</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Username</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">1</th>
													<td>Mark</td>
													<td>Otto</td>
													<td>@mdo</td>
												</tr>
												<tr>
													<th scope="row">2</th>
													<td>Jacob</td>
													<td>Thornton</td>
													<td>@fat</td>
												</tr>
												<tr>
													<th scope="row">3</th>
													<td>Larry</td>
													<td>the Bird</td>
													<td>@twitter</td>
												</tr>
											</tbody>
										</table>

										<p>Usu nonumy numquam te, regione scribentur nec ei. Unum clita antiopam ut qui. Eum id nostrud interpretaris. No quando aliquip forensibus mel, eu nullam nemore dissentiet mea.</p>

										<h2 id="markers">Text marker</h2>

										<p>Pri inani voluptua dissentiet ea, an <span class="ot-shortcode-marker" data-ot-css="background-color:#000000;">his ad</span> tibique praesent <a href="#" class="custom-link">orange-themes.net</a> vel. Utamur pertinacia ullamcorper vix in, nam debet ludus aperiri at. No pri exerci graeci, duis malis phaedrum eu sed, ut mel vivendum signiferumque. Ea summo vitae eleifend eos. Sit <span class="ot-shortcode-marker" data-ot-css="background-color:#EB6126;">his ad</span> ex aeterno suscipit, cum soleat delectus in.</p>

										<p>Everti eloquentiam duo eu, ei vel fugit delenit copiosae. Ius omnesque comprehensam te, iriure gubergren referrentur ex cum. Et pri etiam molestiae, ornatus petentium voluptatibus mel ei. Illum laoreet ocurreret vix ea. No quaeque alterum propriae qui, modo congue cotidieque vel.</p>
										
										<h2 id="accordion">Accordion blocks</h2>

										<div class="ot-shortcode-accordion accordion">
											<div>
												<a href="#">No quaeque alterum propriae qui modo congue cotidieque vel</a>
												<div>
													<p>Everti eloquentiam duo eu, ei vel fugit delenit copiosae. Ius omnesque comprehensam te, iriure gubergren referrentur ex cum. Et pri etiam molestiae, ornatus petentium voluptatibus mel ei. Illum laoreet ocurreret vix ea. No quaeque alterum propriae qui, modo congue cotidieque vel.</p>
													<p><a href="#" class="ot-shortcode-button button button-active">Button inside accordion</a></p>
												</div>
											</div>
											<div>
												<a href="#">Vitae eleifend eos sit ex aeterno suscipit cum soleat delectus in</a>
												<div>
													<p>Atqui graeci consequat eum ei. Definiebas theoph us mel ei, mel id mazim efficiendi. Nec an quod apeirian. Dolores omnesque liberavisse te vis. Stet nibh illud ei duo.</p>
												</div>
											</div>
											<div>
												<a href="#">Perpetu repudiare em eruditi scripsert</a>
												<div>
													<p>Atqui graeci consequat eum ei. Definiebas theoph us mel ei, mel id mazim efficiendi. Nec an quod apeirian. Dolores omnesque liberavisse te vis. Stet nibh illud ei duo.</p>
												</div>
											</div>
											<div>
												<a href="#">Illum laoreet ocurreret vix ea no quaeque alterum propriae qui modo congue</a>
												<div>
													<p>Atqui graeci consequat eum ei. Definiebas theoph us mel ei, mel id mazim efficiendi. Nec an quod apeirian. Dolores omnesque liberavisse te vis. Stet nibh illud ei duo.</p>
												</div>
											</div>
										</div>

										<p>Pri inani voluptua dissentiet ea, an tibique praesent vel. Utamur pertinacia ullamcorper vix in, nam debet ludus aperiri at. No pri exerci graeci, duis malis phaedrum eu sed, ut mel vivendum signiferumque. Ea summo vitae eleifend eos. Sit ex aeterno suscipit, cum soleat delectus in.</p>

										<h2 id="toggle">Toggle block (show/hide)</h2>

										<div class="ot-shortcode-accordion accordion">
											<div>
												<a href="#">Perpetu repudiare em eruditi scripsert</a>
												<div>
													<p>Atqui graeci consequat eum ei. Definiebas theoph us mel ei, mel id mazim efficiendi. Nec an quod apeirian. Dolores omnesque liberavisse te vis. Stet nibh illud ei duo.</p>
												</div>
											</div>
										</div>

										<p>Ius congue albucius philosophia no, duo ei meis illum animal, ius id adhuc quaeque. Sea in liber nihil intellegam, ei viris doctus fuisset pro. Pri vidisse omittam cotidieque no, munere audiam ne vim, ea quando ridens eum. Mei et vocent legimus officiis, in pri magna nonumes consectetuer. Stet nemore eloquentiam et vis, illud possit cum et, sea ad liber paulo fierent.</p>

										<h3>Alert &amp; Notification messages</h3>

										<div class="ot-shortcode-alert-message alert-message alert-green">
											<strong>Success! This a success message</strong>
										</div>

										<div class="ot-shortcode-alert-message alert-message alert-red">
											<strong>Error! This an error message</strong>
										</div>

										<div class="ot-shortcode-alert-message alert-message">
											<strong>Warning! This a warning message</strong>
										</div>

										<div class="ot-shortcode-alert-message alert-message alert-big alert-green">
											<button class="right close-alert"><i class="fa fa-times"></i></button>
											<strong>Some red error message with title &amp; context</strong>
											<p>Vide adversarium reprehendunt ad pro, eos et aliquid facilisis. Pro ut sumo indoctum adversarium cum suavitate instructior, corrumpit forensibus ea mei</p>
										</div>

										<div class="ot-shortcode-alert-message alert-message alert-big alert-red">
											<button class="right close-alert"><i class="fa fa-times"></i></button>
											<strong>Error! This an error message</strong>
											<p>Vide adversarium reprehendunt ad pro, eos et aliquid facilisis. Pro ut sumo indoctum adversarium cum suavitate instructior, corrumpit forensibus ea mei</p>
										</div>

										<div class="ot-shortcode-alert-message alert-message alert-big">
											<button class="right close-alert"><i class="fa fa-times"></i></button>
											<strong>Warning! This a warning message</strong>
											<p>Vide adversarium reprehendunt ad pro, eos et aliquid facilisis. Pro ut sumo indoctum adversarium cum suavitate instructior, corrumpit forensibus ea mei</p>
										</div>

										<div class="ot-shortcode-alert-message alert-message alert-big alert-message-outline alert-green">
											<button class="right close-alert"><i class="fa fa-times"></i></button>
											<strong>Some red error message with title &amp; context</strong>
											<p>Vide adversarium reprehendunt ad pro, eos et aliquid facilisis. Pro ut sumo indoctum adversarium cum suavitate instructior, corrumpit forensibus ea mei</p>
										</div>

										<div class="ot-shortcode-alert-message alert-message alert-big alert-message-outline alert-red">
											<button class="right close-alert"><i class="fa fa-times"></i></button>
											<strong>Error! This an error message</strong>
											<p>Vide adversarium reprehendunt ad pro, eos et aliquid facilisis. Pro ut sumo indoctum adversarium cum suavitate instructior, corrumpit forensibus ea mei</p>
										</div>

										<div class="ot-shortcode-alert-message alert-message alert-big alert-message-outline">
											<button class="right close-alert"><i class="fa fa-times"></i></button>
											<strong>Warning! This a warning message</strong>
											<p>Vide adversarium reprehendunt ad pro, eos et aliquid facilisis. Pro ut sumo indoctum adversarium cum suavitate instructior, corrumpit forensibus ea mei</p>
										</div>

										<p>Vidit primis ius id, tantas dolore eloquentiam eum cu. Docendi disputando no vel, nam no tempor dignissim consequuntur. Ea sea fabellas adversarium, ne causae eruditi atomorum pri, qui ad eruditi officiis laboramus. Est quaestio elaboraret an. Idque urbanitas ne nam, probo augue labores ea usu.</p>

										<h3>Blockquote styles</h3>

										<blockquote>
											<p>Id mutat commodo voluptua eos, et vel dico aeterno vivendum, petentium disputationi et per. Vix veniam  oluptaria no, per tation corrumpit no. Delenit adipiscing quo an, te est erant nonumes omittantur. Te per debet liberavisse, qui eu minimum noluisse. An inani vocibus verterem pri, graeco scriptorem est eu.</p>
										</blockquote>

										<blockquote>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
											<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
										</blockquote>

										<blockquote class="blockquote-reverse">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
											<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
										</blockquote>

										<blockquote class="blockquote-style-2">
											<p>Id mutat commodo voluptua eos, et vel dico aeterno vivendum, petentium disputationi et per. Vix veniam  oluptaria no, per tation corrumpit no. Delenit adipiscing quo an, te est erant nonumes omittantur. Te per debet liberavisse, qui eu minimum noluisse. An inani vocibus verterem pri, graeco scriptorem est eu.</p>
										</blockquote>

										<p>Lorem ipsum dolor sit amet, prima homero causae pro ea, an meis honestatis sit. Te enim purto constituto ius, apeirian urbanitas voluptaria no vix. Everti eloquentiam duo eu, ei vel fugit delenit copiosae. Ius omnesque comprehensam te, iriure gubergren referrentur ex cum. Et pri etiam molestiae, ornatus petentium voluptatibus mel ei. Illum laoreet ocurreret vix ea. No quaeque alterum propriae qui, modo congue cotidieque ne vel.</p>

										<h2 id="social-icons">Social icons</h2>

										<p>
											<a href="#" target="_blank" class="ot-shortcode-social-icon social-twitter soc-bef hover-color-twitter">
												<i class="fa fa-twitter"></i>
												<strong>Twitter</strong>
												<span>Follow us</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-facebook soc-bef hover-color-facebook">
												<i class="fa fa-facebook"></i>
												<strong>Facebook</strong>
												<span>Like Page</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-google-plus soc-bef hover-color-google-plus">
												<i class="fa fa-google-plus"></i>
												<strong>Google+</strong>
												<span>Follow us</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-pinterest soc-bef hover-color-pinterest">
												<i class="fa fa-pinterest"></i>
												<strong>Pinterest</strong>
												<span>Follow us</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-instagram soc-bef hover-color-instagram">
												<i class="fa fa-instagram"></i>
												<strong>Instagram</strong>
												<span>Follow us</span>
											</a>
										</p>

										<p>
											<a href="#" target="_blank" class="ot-shortcode-social-icon social-youtube soc-bef hover-color-youtube">
												<i class="fa fa-youtube-play"></i>
												<strong>YouTube</strong>
												<span>Subscribe</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-flickr soc-bef hover-color-flickr">
												<i class="fa fa-flickr"></i>
												<strong>Flickr</strong>
												<span>Follow us</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-linkedin soc-bef hover-color-linkedin">
												<i class="fa fa-linkedin"></i>
												<strong>LinkedIn</strong>
												<span>Follow us</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-dribbble soc-bef hover-color-dribbble">
												<i class="fa fa-dribbble"></i>
												<strong>Dribbble</strong>
												<span>Follow us</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-skype soc-bef hover-color-skype">
												<i class="fa fa-skype"></i>
												<strong>Skype</strong>
												<span>Call us</span>
											</a>
										</p>

										<p>
											<a href="#" target="_blank" class="ot-shortcode-social-icon social-tumblr soc-bef hover-color-tumblr">
												<i class="fa fa-tumblr"></i>
												<strong>Tumblr</strong>
												<span>Follow us</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-vimeo soc-bef hover-color-vimeo">
												<i class="fa fa-vimeo-square"></i>
												<strong>Vimeo</strong>
												<span>Follow us</span>
											</a>

											<a href="#" target="_blank" class="ot-shortcode-social-icon social-vk soc-bef hover-color-vk">
												<i class="fa fa-vk"></i>
												<strong>vKontakte</strong>
												<span>Follow us</span>
											</a>
										</p>

										<p>Usu nonumy numquam te, regione scribentur nec ei. Unum clita antiopam ut qui. Eum id nostrud interpretaris. No quando aliquip forensibus mel, eu nullam nemore dissentiet mea.</p>

										<h2 id="paragraphs">Paragraph grids</h2>

										<div class="ot-shortcode-paragraph-row">
											<div class="column6">
												<h4>Column 1/2</h4>
												<p>Pro ridens tibique aliquando cu. Brute novum vocibus ex pro, deleniti rationibus disputando te quo. Tation electram abhorreant et mei. Ad lucilius mnesarchum quo. Eum ut cetero dolorem senserit.</p>
											</div>
											<div class="column6">
												<h4>Column 1/2</h4>
												<p>Pro ridens tibique aliquando cu. Brute novum vocibus ex pro, deleniti rationibus disputando te quo. Tation electram abhorreant et mei. Ad lucilius mnesarchum quo. Eum ut cetero dolorem senserit.</p>
											</div>
										</div>

										<div class="ot-shortcode-paragraph-row">
											<div class="column4">
												<h4>Column 1/3</h4>
												<p>Usu erat mazim altera in, tacimats regione indoctum, usu cu lorem appellantur, dissentiunt accommodare no vis. Pri prompta conclud.</p>
											</div>
											<div class="column4">
												<h4>Column 1/3</h4>
												<p>Usu erat mazim altera in, tacimats regione indoctum, usu cu lorem appellantur, dissentiunt accommodare no vis. Pri prompta conclud.</p>
											</div>
											<div class="column4">
												<h4>Column 1/3</h4>
												<p>Usu erat mazim altera in, tacimats regione indoctum, usu cu lorem appellantur, dissentiunt accommodare no vis. Pri prompta conclud.</p>
											</div>
										</div>

										<div class="ot-shortcode-paragraph-row">
											<div class="column3">
												<h4>Column 1/3</h4>
												<p>Usu erat mazim altera in, tacimats regione indoctum, usu cu lorem accommodare no vis. Pri prompta conclud.</p>
											</div>
											<div class="column3">
												<h4>Column 1/3</h4>
												<p>Usu erat mazim altera in, tacimats regione indoctum, usu cu lorem accommodare no vis. Pri prompta conclud.</p>
											</div>
											<div class="column3">
												<h4>Column 1/3</h4>
												<p>Usu erat mazim altera in, tacimats regione indoctum, usu cu lorem accommodare no vis. Pri prompta conclud.</p>
											</div>
											<div class="column3">
												<h4>Column 1/3</h4>
												<p>Usu erat mazim altera in, tacimats regione indoctum, usu cu lorem accommodare no vis. Pri prompta conclud.</p>
											</div>
										</div>

										<p>Pro meis habemus at, et facilisis deseruisse quo, mei nibh nominavi praesent cu. In suscipit expetendis vim, dicunt fierent indoctum cum te, mucius veritus consulatu est ut. Graeci iisque petentium vix te, sea nusquam suscipit deterruisset et. Est sale liber oportere eu. Ei sea mazim movet regione. Ut mea saperet posidonium, no usu appetere voluptatum, eu pericula elaboraret usu. Ad feugiat tibique ius, ius no audire lucilius vulputate, ad quem omittantur mei.</p>

									</div>

								<!-- END .ot-main-content -->
								</div>

								<!-- BEGIN .sidebar -->
								<div class="otg-item otg-t-4 sidebar">

									<div class="widget">
										<!-- <h3>Newsletter</h3> -->
										<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-126" method="post" data-id="126">
											<div class="mc4wp-form-fields">
												<h4>Subscribe</h4>
												<strong>Newsletter</strong>
												<div>

													<label>
														<span>Email address</span>
														<input type="email" name="EMAIL" placeholder="Your email address" required="" />
													</label>

													<p>
														<input type="submit" value="Subscribe today" />
													</p>

												</div>
												<p>Subscribe for free and get the latest news and offers</p>
											</div>
											<div class="mc4wp-response"><div class="mc4wp-alert mc4wp-success"><p>Thank you, your sign-up request was successful! Please check your email inbox to confirm.</p></div></div>
										</form>
									</div>

									<div class="widget ot-widget-wide-posts">
										<h3>Popular posts</h3>
										<div class="widget-content">

											<div class="item">
												<a href="post.html" class="otgif-overlay" data-otgif-icon="play_arrow"><i class="material-icons">whatshot</i><img src="images/photos/image-12.jpg" alt="" /></a>
												<h4><a href="post.html">Wait, Whaaat? These 17 Paintings Cost Over 10 Million Bucks</a></h4>
											</div>

											<div class="item">
												<a href="post.html" class="otgif-overlay" data-otgif-icon="play_arrow"><i class="material-icons">whatshot</i><img src="images/photos/image-13.jpg" alt="" /></a>
												<h4><a href="post.html">Wait, Whaaat? These 17 Paintings Cost Over 10 Million Bucks</a></h4>
											</div>

											<div class="item">
												<a href="post.html" class="otgif-overlay" data-otgif-icon="play_arrow"><i class="material-icons">whatshot</i><img src="images/photos/image-14.jpg" alt="" /></a>
												<h4><a href="post.html">Wait, Whaaat? These 17 Paintings Cost Over 10 Million Bucks</a></h4>
											</div>

										</div>
										<a href="blog.html" class="widget-button">View more of this</a>
									</div>

									<div class="widget ot-aspace-block">
										<!-- <h3>Banner</h3> -->
										<div class="widget-content">
											<a href="#"><img src="images/aside-1.png" alt="" /></a>
										</div>
									</div>

									<div class="widget ot-comments-block">
										<h3>Recent comments</h3>
										<div class="widget-content">
											<div class="item">
												<i class="item-icon material-icons">comment</i>
												<div class="item-content">
													<span><a href="blog.html">Orange Themes</a>on</span>
													<h4><a href="post.html">Watch Out. This Girl Knows How to Sell Video Games</a></h4>
												</div>
											</div>
											<div class="item">
												<i class="item-icon material-icons">comment</i>
												<div class="item-content">
													<span><a href="blog.html">Orange Themes</a>on</span>
													<h4><a href="post.html">Watch Out. This Girl Knows How to Sell Video Games</a></h4>
												</div>
											</div>
											<div class="item">
												<i class="item-icon material-icons">comment</i>
												<div class="item-content">
													<span><a href="blog.html">Orange Themes</a>on</span>
													<h4><a href="post.html">Watch Out. This Girl Knows How to Sell Video Games</a></h4>
												</div>
											</div>
											<div class="item">
												<i class="item-icon material-icons">comment</i>
												<div class="item-content">
													<span><a href="blog.html">Orange Themes</a>on</span>
													<h4><a href="post.html">Watch Out. This Girl Knows How to Sell Video Games</a></h4>
												</div>
											</div>
										</div>
									</div>

								<!-- END .sidebar -->
								</div>

							</div>

						</div>

					</div>
				</div>

			<!-- BEGIN #content -->
			</main>
			
			<!-- BEGIN #footer -->
			<footer id="footer">

				<div id="footer-widgets">
					<div class="container">
						<div class="otg otg-items-4 otg-h-40 otg-v-40">

							<div class="otg-item widget">
								<h3>About company</h3>
								<div class="widget-content">
									<p>Qui etiam prompta id, vix id epicurei repudiare, id mel viris doming persius. Quis mucius utamur his ei. Ferri adhuc deseruisse id eam, vel eleifend</p>
									<p>Persecuti moderatius pro cu, cibo assentior eloquentiam mel ei. Qui ne movet salutatus dignissim.</p>
									<p>Epicurei repudiare, doming id mel viris doming persius.</p>
								</div>
							</div>

							<div class="otg-item widget ot-widget-square-posts">
								<h3>Funniest gifs</h3>
								<div class="widget-content">
									<div class="otg otg-items-3 otg-h-20 otg-v-20">

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons">whatshot</i><img src="images/photos/image-4.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons">whatshot</i><img src="images/photos/image-5.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons" style="background-color: #efed32; color: #444;">star_border</i><img src="images/photos/image-6.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons" style="background-color: #efed32; color: #444;">star_border</i><img src="images/photos/image-7.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons" style="background-color: #ff4d2a;">access_time</i><img src="images/photos/image-8.jpg" alt="" /></a>
										</div>

										<div class="otg-item">
											<a href="post.html" class="otgif-overlay" data-otgif-text="GIF"><i class="material-icons" style="background-color: #ff4d2a;">access_time</i><img src="images/photos/image-9.jpg" alt="" /></a>
										</div>

									</div>
								</div>
								<a href="blog.html" class="widget-button">View more of this</a>
							</div>

							<div class="otg-item widget ot-widget-wide-posts">
								<h3>Popular posts</h3>
								<div class="widget-content">

									<div class="item">
										<a href="post.html" class="otgif-overlay" data-otgif-icon="play_arrow"><i class="material-icons">whatshot</i><img src="images/photos/image-10.jpg" alt="" /></a>
										<h4><a href="post.html">His eu volumus dissentiunt</a></h4>
									</div>

									<div class="item">
										<a href="post.html" class="otgif-overlay" data-otgif-icon="play_arrow"><i class="material-icons">whatshot</i><img src="images/photos/image-11.jpg" alt="" /></a>
										<h4><a href="post.html">Vix veri tempor populo ea</a></h4>
									</div>

								</div>
							</div>

							<div class="otg-item widget ot-widget-social-block">
								<h3>We're on social media</h3>
								<div class="widget-content">
									<div class="otg otg-items-3 otg-h-10 otg-v-10">

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-google-plus"><i class="fa fa-google-plus"></i><span>Google+</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-reddit"><i class="fa fa-reddit-alien"></i><span>Reddit</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-youtube"><i class="fa fa-youtube-play"></i><span>Youtube</span></a>
										</div>

										<div class="otg-item">
											<a href="#" class="item ot-soc-color-tumblr"><i class="fa fa-tumblr"></i><span>Tumblr</span></a>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				
				<div id="footer-copy">
					<div class="container">
						<p>&copy; Copyright 2016 by <a href="http://orange-themes.net" target="_blank">Orange-Themes.net</a>. All rights reserved.</p>
						<ul class="load-responsive">
							<li><a href="full-width.html">Disclaimer</a></li>
							<li><a href="full-width.html">Terms of Service</a></li>
							<li><a href="full-width.html">Privacy Policy</a></li>
							<li><a href="contact.html">Contact us</a></li>
						</ul>
					</div>
				</div>
				
			<!-- END #footer -->
			</footer>
			
		<!-- END #boxed -->
		</div>

		<!-- Scripts -->
		<script type="text/javascript" src="jscript/jquery-latest.min.js"></script>
		<script>
			// var _otmLogo = 'Template';
			var _otmLogo = '<img src="images/logo.png" alt="OrangeThemes" />';
			var _otmSearch = "blog.html";
		</script>
		<script type="text/javascript" src="jscript/otmenu.min.js"></script>
		<script type="text/javascript" src="jscript/theme-scripts.min.js"></script>
		<script type="text/javascript" src="jscript/ot-lightbox.min.js"></script>


		<script type="text/javascript" src="jscript/theia-sticky-sidebar.min.js"></script>

		<script type="text/javascript">
			jQuery(document).ready(function() {
				var margintop = (jQuery("body").hasClass("ot-menu-will-follow"))?70:30;
				jQuery('.theiaStickySidebar', "body").parent().theiaStickySidebar({
					additionalMarginTop: margintop
				});
			});
		</script>

	<!-- END body -->
	</body>
<!-- END html -->
</html>